.user-icon {
  position: absolute;
  border-radius: 5px;
  background-color: var( --usericon-background );
  width: 43px;
  height: 43px;
  top: 21px;
  right: 180px;
}

.user-icon p {
  font-family: 'Roboto';
  color: var( --component-color );
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 43px;
  text-align: center;
  margin: auto;
}

.user-name {
  position: absolute;
  top: 33px;
  left: calc( 100% - 168px );

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: right;

  color: var( --title-color );
}