body {
  --header-height: 80px;
  --footer-height: 63px;
  --sidebar-width: 96px;
  
  /* font color */
  --primary-color: #011F4B;
  --component-color: #FFFFFF;
  --disabled-color: #7E8299;
  --title-color: #005B96;

  /* layout background color */
  --primary-background: #FFF;
  --secondary-background: #F1FAFE;
  --table-background: #F1FAFE;

  
  /* component background color */
  --primary-component: #1BC5BD;
  --primary-active-component: #26afa8;
  --primary-disabled-component: #eee;
  --secondary-component: #005B96;

  --usericon-background: #F6CA65;

}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var( --primary-background );
}
